# Node.js
node_modules/

# Compiled output
dist/
*.d.ts

# Dependency directories
src/assets/bower_components/
src/assets/node_modules/

# Logs and databases
*.log
*.sqlite

# Environment variables
.env

# IDE files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db