<div class="container">
    <div class="filters-container">
        <img src="assets/filter.png" alt="icon" class="icon">
        <input type="text" placeholder="Account name" [(ngModel)]="nameFilter">     
        <input type="text" placeholder="Product" [(ngModel)]="productFilter">
        <button mat-button [matMenuTriggerFor]="menu">Date and time</button>
        <mat-menu #menu="matMenu">
            <input type="date" mat-menu-item (click)="$event.stopPropagation()" [(ngModel)]="filterDate">
            <input type="time" mat-menu-item (click)="$event.stopPropagation()" [(ngModel)]="beginTime">
            <input type="time" mat-menu-item (click)="$event.stopPropagation()" [(ngModel)]="endTime">
        </mat-menu>
        
        
        <button (click)="applyFilters()">Apply filters</button>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead class="table-head">
                <tr id="top-row">
                    <th>Account</th>
                    <th>Product</th>
                    <th>Packaging</th>
                    <th>Packaging-amount</th>
                    <th>Date and time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let log of filteredLogs; let i = index" class="row">
                    <td>{{log.account.name}}</td>
                    <td>{{log.product.name}}</td>
                    <td>{{log.packaging.name}}</td>
                    <td>{{log.packagingamount}}</td>
                    <td>{{log.date}} {{log.time}}</td>
                    <td>
                        <button *ngIf="!log.reverted" class="button-62" role="button" (click)="revertLog(log)">Revert</button>
                        <p *ngIf="log.reverted">Reverted</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
