<div class="container">
    <div class="filters-container">
        <input type="text" placeholder="Account name" [(ngModel)]="nameFilter">     
        <input type="text" placeholder="Product" [(ngModel)]="productFilter">
        <button mat-button [matMenuTriggerFor]="menu">Date and time</button>
        <mat-menu #menu="matMenu">
            <input type="date" mat-menu-item (click)="$event.stopPropagation()" [(ngModel)]="filterDate">
            <input type="time" mat-menu-item (click)="$event.stopPropagation()" [(ngModel)]="beginTime">
            <input type="time" mat-menu-item (click)="$event.stopPropagation()" [(ngModel)]="endTime">
        </mat-menu>
        
        
        <button (click)="applyFilters()">Apply filters</button>
    </div>
    <div class="table-wrapper">
        <mat-table [dataSource]="filteredLogs" class="table">
            <ng-container matColumnDef="account" class="column">
                <th mat-header-cell *matHeaderCellDef class="header"><p>Account</p></th>
                <td mat-cell *matCellDef="let log"><p>{{ log.account?.name || '' }}</p></td>
            </ng-container>
        
            <ng-container matColumnDef="product" class="column">
                <th mat-header-cell *matHeaderCellDef class="header"><p>Product</p></th>
                <td mat-cell *matCellDef="let log"><p>{{ log.product?.name || '' }}</p></td>
            </ng-container>
        
            <ng-container matColumnDef="packaging" class="column">
                <th mat-header-cell *matHeaderCellDef class="header"><p>Package</p></th>
                <td mat-cell *matCellDef="let log"><p>{{ log.packaging?.name || '' }}</p></td>
            </ng-container>
        
            <ng-container matColumnDef="amount" class="column">
                <th mat-header-cell *matHeaderCellDef class="header"><p>Amount</p></th>
                <td mat-cell *matCellDef="let log"><p>{{ log?.packagingamount || '' }}</p></td>
            </ng-container>
        
            <ng-container matColumnDef="dateTime" class="column">
                <th mat-header-cell *matHeaderCellDef class="header"><p>Date and Time</p></th>
                <td mat-cell *matCellDef="let log"><p *ngIf="log.date && log.time">Date: {{convertDateToShowableString(log.date)}} Time: {{convertTimeToShowableString(log.time)}}</p></td>
            </ng-container>
        
            <ng-container matColumnDef="reverted" class="column">
                <th mat-header-cell *matHeaderCellDef class="header"><p>Action</p></th>
                <td mat-cell *matCellDef="let log" class="button-holder">
                    <div class="holder">
                        <button *ngIf="!log.reverted  && log.account" class="button-62" (click)="revertLog(log)">Revert</button>
                        <p *ngIf="log.reverted">Reverted</p>
                    </div>
                </td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="headers"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns;"
            ></tr>
        </mat-table>
        <mat-paginator 
            #paginator
            [pageSize]="pageSize"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
