.popup-container {
  display: flex;
  height: 450px;
}

.sidebar {
  background-color: #4bc8b6;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 70%;
  aspect-ratio: 1/1;
}

.Customer-filter-container, .Customer-product-container {
  flex: 1;
  display: flex;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  flex-direction: column;
}

[hidden] {
  display: none !important;
}

h2{
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 0px;
  display: flex;
  align-content: center;
  height: 58px;
}

h3{
  height: 73px;
  font-size: 32px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  align-content: center;
}

.customer-list{
  flex-grow: 1;
  overflow-y: scroll;
}

.filter-customer{
  width: 70%;
  padding: 5px;
  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 3px;
  border-width: 1px;
  align-content: center;
}

th{
  text-align: left;
}

tr{
  width: 100%;
  align-items: flex-start;
}

tbody>tr:hover{
  background: #60c9b3;
  cursor: pointer;
}

td{
  border: none;
  margin: 0px;
  text-align: left;
}

table{
  width: 100%;
  border-collapse: collapse;
}

.close-button, .back-button {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border-color: #4D4E53;
  background-color: #4D4E53;
  font-weight: 700;
  color: white;
}

button:hover {
  background-color: #F4812B;
}

.product-list{
  flex-grow: 1;
  overflow-y: scroll;
}

.error-message{
  height: 8px;
  color: red;
}
