.app-container {
  display: flex;
}

.app-nav-bar {
    width: 15%;
    height: 100vh;
    box-sizing: border-box;
}


.app-main-component {
    flex: 1;
    height: 100vh;
}
.router-outlet-container {
  flex: 1;
  width: 100%;

}
