<div class="popup-container">
    <div class="sidebar">
        <img src="assets/package.png" alt="">
    </div>
    <h1>Create new account</h1>
    <div class="content-container">
        <mat-dialog-content>
            <input matInput placeholder="name" [(ngModel)]="name" id="name">
            <input matInput placeholder="email" [(ngModel)]="email" id="email">
            <input matInput placeholder="password" [(ngModel)]="password" id="password">
            <input matInput placeholder="password again" [(ngModel)]="passcheck" id="passcheck">
            <input matInput type="number" placeholder="employeenumber" [(ngModel)]="employeenumber" id="employeenumber">
            <input matInput type="checkbox" [(ngModel)]="notifications" id="notifications">
            <mat-select [(ngModel)]="selectedOption">
                <mat-option *ngFor="let location of locations" [value]="location.id">
                    {{ location.address }}
                </mat-option>
            </mat-select>
            <label class="error">{{error}}</label>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button (click)="closeDialog(false)">Cancel</button>
            <button mat-button (click)="closeDialog(true)">Save</button>
        </mat-dialog-actions>
    </div>
</div>