<div class="popup-container">
    <div class="sidebar">
        <img src="assets/package.png" alt="">
    </div>
    <div class="content-container">
        <h2 mat-dialog-title>Change package</h2>
        <mat-dialog-content>
            <mat-form-field>
                <mat-label>Select a package</mat-label>
                <mat-select [(ngModel)]="selectedOption">
                    <mat-option *ngFor="let package of packageList" [value]="package.id">
                        {{ package.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <input matInput type="number" placeholder="Quantity" [(ngModel)]="quantity">
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button (click)="onClose(true)">Close</button>
            <button mat-button (click)="onClose(false)">Ok</button>
        </mat-dialog-actions>
    </div>
</div>