<div class="add-package" *ngIf="displayPackage">
  <app-add-package-popup class="package-popup" (popupClosed)="onPopupClosed($event)"></app-add-package-popup>
</div>

<div *ngIf="applyBlur" class="overlay" (click)="onPopupClosed(false)"></div>
<div class="blur" [ngClass]="{'blur-effect': displayPackage}">
    <div class="filter">
        <input type="text" autocomplete="on" list="mockLocations" (input)="setLocationFilter($event)">
        <datalist id="mockLocations">
            @for (location of locationNames; track $index) {
                <option [value]="location"></option>
            }
        </datalist>
    </div>
<app-stock-table [data]="packageList"  (packageChangeEvent)='onPackageChange($event)'></app-stock-table>

<button (click)="displayPackagePopup()">New Package</button>


