<div *ngIf="applyBlur" class="overlay" (click)="onPopupClosed(false)"></div>
<div class="blur" [ngClass]="{'blur-effect': displayPackage}">
    <div class="filter">
        <input type="text" autocomplete="on" list="mockLocations" (input)="setLocationFilter($event)">
        <datalist id="mockLocations">
            @for (location of locationNames; track $index) {
                <option [value]="location"></option>
            }
        </datalist>
    </div>
    <div class="container">
        <div class="spacer"></div>
        <div [class]="tableWrapperClass">
            <table>
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Minimum Amount</th>
                        <th>Location</th>
                        <th>edit</th>
                    </tr>
                </thead>
                <tbody>
                    @if (locationNames.includes(locationFilter)) {
                        @for (package of packageList; track $index) {
                            @if (package.location === locationFilter) {
                                <tr>
                                    <td>{{package.packagingGroup}}</td>
                                    <td [class.editable]= "editingPackageIndex === $index" [attr.contenteditable]="editingPackageIndex === $index ? 'true' : 'false'" >{{package.name}}</td>
                                    <td [class.editable]= "editingPackageIndex === $index" [attr.contenteditable]="editingPackageIndex === $index ? 'true' : 'false'"  (input)="onInputChange($event)" (focus)="onFocusChange($event)" (blur)="onBlurChange($event)">{{package.amountinstock}}</td>
                                    <td  [class.editable]= "editingPackageIndex === $index" [attr.contenteditable]="editingPackageIndex === $index ? 'true' : 'false'"  (input)="onInputChange($event)" (focus)="onFocusChange($event)" (blur)="onBlurChange($event)">{{package.minAmount}}</td>
                                    <td>{{package.location}}</td>
                                    <td>            <button
                                        mat-icon-button
                                        class="material-icons app-toolbar-menu save-button"
                                        matTooltip="Save Changes"
                                        color="primary"
                                      >
                                        <mat-icon>check_circle</mat-icon>
                                      </button>
                          
                                      <button
                                        mat-icon-button
                                        class="material-icons app-toolbar-menu cancel-button"
                                        matTooltip="Cancel Changes"
                                        color="warn"
                                      >
                                        <mat-icon>cancel</mat-icon>
                                      </button>
                          
                                      <button
                                        mat-icon-button
                                        class="material-icons app-toolbar-menu save-button"
                                        matTooltip="Edit"
                                        color="primary"
                                      >
                                        <mat-icon>edit</mat-icon>
                                      </button>
                        </td>
                                </tr>
                            }
                        }

                    } @else {

                        @for (package of packageList; track $index) {
                            <tr>
                                <td>{{package.packagingGroup}}</td>
                                <td [class.editable]= "editingPackageIndex === $index" [attr.contenteditable]="editingPackageIndex === $index ? 'true' : 'false'" ><p #changedName>{{package.name}}</p></td>
                                <td [class.editable]= "editingPackageIndex === $index" [attr.contenteditable]="editingPackageIndex === $index ? 'true' : 'false'"  (focus)="onFocusChange($event)" (blur)="onBlurChange($event)"><p #amountInStock>{{package.amountinstock}}</p></td>
                                <td  [class.editable]= "editingPackageIndex === $index" [attr.contenteditable]="editingPackageIndex === $index ? 'true' : 'false'"  (focus)="onFocusChange($event)" (blur)="onBlurChange($event)" ><p #changedMinAmount>{{package.minAmount}}</p></td>
                                <td>{{package.location}}</td>
                                <td>                                       <ng-container *ngIf="$index === editingPackageIndex; else editButtons">
                                <!-- Save Changes button -->
                                <button mat-icon-button class="material-icons app-toolbar-menu save-button" matTooltip="Save Changes" color="primary" (click)="saveChanges(package, changedName,amountInStock,changedMinAmount)">
                                    <mat-icon>check_circle</mat-icon>
                                </button>

                                <!-- Cancel Changes button -->
                                <button mat-icon-button class="material-icons app-toolbar-menu cancel-button" matTooltip="Cancel Changes" color="warn" (click)="cancelEditing($index)">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </ng-container>

                            <ng-template #editButtons>
                                <!-- Edit button -->
                                <button mat-icon-button class="material-icons app-toolbar-menu save-button" matTooltip="Edit" color="primary" (click)="startEditing($index)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </ng-template>
                      
                            </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <button (click)="displayPackagePopup()">New Package</button>
    </div>
</div>
<div class="add-package" *ngIf="displayPackage">
        <app-add-package-popup class="package-popup" (popupClosed)="onPopupClosed($event)"></app-add-package-popup>
</div>
