.container {
   width: max-content;
   background-color: #ffffff;
   display: grid;
   grid-template-columns: 1fr 4fr;
   overflow-x: hidden;
   overflow-y: hidden;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
     rgba(0, 0, 0, 0.22) 0px 15px 12px;
   font-family: Arial, Helvetica, sans-serif;
  }
  
  .image-section {
   background-color: #4bc8b6;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 130px;
   height: 500px;
  }
  
  .centered-image {
   object-fit: contain;
   max-height: 100%;
   max-width: 100%;
  }
  
  .right-section {
   width: max-content;
   display: flex;
   flex-direction: column;
   justify-content: start;
   padding: 20px;
  }
  
  .title-text {
   width: max-content;
   font-size: 60px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   color: #d7e0e8;
   margin: 10px;
  }
  
  .error-message {
   width: 100%;
   text-align: center;
   margin-bottom: 10px;
   position: absolute;
   top: 60%;
   color: #cc0000;
  }
  
  .form-group, .package-input {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
 }
 
 .package-input {
   margin-bottom: 10px;
 }
  
  .label-input {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  .label {
   width: 130px;
   box-sizing: border-box;
  }
  
  .input, select {
   width: 200px;
   box-sizing: border-box;
   margin-bottom: 15px;
   background-color: #d7e0e8;
   border-radius: 5px;
  }
  
  #email-input{
   margin-top: 15px;
  }
 
  .button-group {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   gap: 10px;
  }
  
  .done-button {
   background-color: #4bc8b6;
   border-radius: 10px;
   font-weight: bold;
   display: block;
  }
  
  .close-button {
   background-color: #d7e0e8;
   border-radius: 10px;
   font-weight: bold;
   display: block;
  }
  
  .done-button:hover,
  .done-button:focus {
   background-color: #f4812b;
   color: white;
  }
  
  .close-button:hover,
  .close-button:focus {
   background-color: #f4812b;
   color: white;
  }
  
  ::ng-deep .mat-mdc-dialog-surface, ::ng-deep .mdc-dialog__surface {
   border-radius: 20px !important;
  }
  