.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container img {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 221, 221, 0.6); /* Adjust the background color and opacity of the filter */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textbox {
    width: 500px;
    height: 250px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(221, 221, 221, 0.8);
  }

  .title {
    font-size: 42px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: black;
  }

  .scan-input {
    width: 70%;
    padding: 5px;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 3px;
    border-width: 1px;
  }

  .scan-input.selected {
    border-width: 3px;
  }

  .selected {
    background-color: #60c9b3;
  }

  .error {
    color: darkred;
    position: fixed;
    margin-top: 85px;
  }

  .scan-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #4a5b73;
  }

  .scan-button:hover {
    background-color: #60c9b3;
  }

  .FilterByCustomerButton{
    color: white;
    background-color: #4a5b73;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 6px;
    margin-right: 8px;
    margin-bottom: 5px;
    font-size: 16px;
  }

  .FilterByCustomerButton:hover{
    background-color: #60c9b3;
    cursor: pointer;
  }

  .CustomerButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .FilterByCustomerButtonText{
    padding-left: 10px;
    padding-right: 10px;
  }


