<div class="container">
  <img src="assets/grey-scanorder.png">
  <div class="filter">
    <div class="textbox">
      <h1 class="title" for="name">Enter Productnumber: </h1>
      <label for="scanButton" class="error">{{getErrorMessage}}</label>
      <input id="productNumberInput" type="text" class="scan-input" (input)="onInputOrderNumber($event)" (keyup.enter)="onEnter()" [disabled]="disableScan"><br>
      <button id="scanButton" name="hello" class="scan-button" (click)="getOrders()">Load product</button>
      <div class="CustomerButton">
        <button id="FilterByCustomerButton" class="FilterByCustomerButton" (click)="openFilterByCustomerPopup()">Filter by customer</button>
      </div>
    </div>
  </div>
</div>

