<div class="productScanContainer">
  <div class="textbox">
    <!--  <form>-->
    <h1 for="name">Scan product: </h1>
    <input id="name" type="text" class="scan-input" (input)="onInputOrderNumber($event)"><br>
    <button id="hello" name="hello" class="scan-button" (click)="getOrders()">Load product</button><br>
    <label for="hello" class="error">{{getErrorMessage}}</label>
    <!--  </form>-->
  </div>
</div>



<!--<div class="container">-->
<!--  <table>-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th *ngFor="let name of productColumns">{{name}}</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr>-->
<!--        <td>{{productName}}</td>-->
<!--        <td>{{packageName}}</td>-->
<!--        <td>{{amountAvailable}}</td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div><br><br><br>-->

<!--<div class="container">-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>packaging</th>-->
<!--      <th>amount</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let package of packaging; index as i">-->
<!--      <td>{{package}}</td>-->
<!--      <td>2</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
